.competences {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 115vh;
}

.competencesContent {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.imageCV {
    width: 80%;
    height: 40%;
    margin-left : 15%;
}

.imageAndButton {
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cvButton{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.competencesText {
    text-align: justify;
    font-size: 120%;
    flex-grow: 1;
    margin-bottom: 30%;
}
